﻿@model SuperHerois.Infraestrutura.Interfaces.Entity.IPersonagem

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Personagem</label>
            <div class="row">
                @Html.DropDownListFor(model => model.IdPersonagem, ViewBag.ListaPersonagem as SelectList, "--Selecione--", new { @class = "form-control" })
            </div>

            <label class="control-label">Comics</label>
            <div class="row">
                @Html.DropDownListFor(model => model.ListaComics, new SelectList(" "), "", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-9">
            <div class="col-md-4">
                <img id="ImgPersonagem" class="img-thumbnail float-left" style="display: none;" />
            </div>

            <div class="col-md-auto">
                <p id="DescricaoPersonagem" class="text-info"></p>
            </div>
        </div>
    </div>
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <img id="ImgComics" class="img-thumbnail float-left" style="display: none;" />
            </div>

            <div class="col-md-8">
                <p id="DescricaoComic" class="text-info"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#IdPersonagem").change(function () {
                $.get("/Home/GetPersonagem", { IdPersonagem: $("#IdPersonagem").val() }, function (data) {

                    $("#ImgPersonagem").attr("src", data.urlImagemPersonagem);
                    $("#ImgPersonagem").show();
                    $("#DescricaoPersonagem").text(data.descricao);

                    $("#ListaComics").empty();
                    $("#ListaComics").append("<option value=' --Selecione--'>--Selecione--</option>");

                    $.each(data.listaComics, function (index, row) {
                        $("#ListaComics").append("<option value='" + row.idComic + "'>" + row.nome + "</option>");

                    });
                });
            });

            $("#ListaComics").change(function () {
                $.get("/Home/GetComics", { IdComics: $("#ListaComics").val() }, function (data) {
                    console.log(data.descricao);
                    $("#ImgComics").attr("src", data.urlImagemCapa);
                    $("#ImgComics").show();
                    $("#DescricaoComic").text(data.descricao);
                });
            });
        });
    </script>
}